<h1><%= @presenter.house_name %></h1>

<h2>This Week's Tasks</h2>

<ul>
  <% @presenter.active_tasks.each do |task| %>
    <li
      class="UsersTask UsersTask--<%= task.id %>"
      data-controller="users-task"
      data-users-task-is-completed="<%= task.completed? %>"
      data-users-task-patch-url="<%= house_users_task_path(@presenter.house_id, task.id) %>"
      >
      <ul>
        <% task.details.each do |detail| %>
          <li><%= detail %></li>
        <% end %>


        <li>
          <%= label_tag "users_task_completed", "Completed:" %>
          <%= check_box_tag "users_task_completed", "", task.completed?, class: "UsersTask__completed", data: {
            target: "users-task.completeCheckbox",
            action: "change->users-task#completeTask"
          } %>
          <span data-target="users-task.error"></span>
        </li>
      </ul>

    </li>
  <% end %>
</ul>

<%= link_to "Add Task", new_house_task_path(@presenter.house_id) %>
