<h1><%= @presenter.house_name %></h1>

<h2>This Week's Tasks</h2>

<ul>
  <% @presenter.active_tasks.each do |task| %>
    <li
      class="Task Task--<%= task.id %>"
      data-controller="users-task"
      data-users-task-is-completed="<%= task.completed? %>"
      data-users-task-patch-url="<%= house_users_task_path(@presenter.house_id, task.id) %>"
      >
      <ul>
        <% task.details.each do |detail| %>
          <li data-target="users-task.<%= detail.fetch(:target) %>"><%= detail.values_at(:label, :value).join(": ") %></li>
        <% end %>
      </ul>

      <button
        data-target="users-task.completeButton"
        data-action="click->users-task#completeTask"
        >
      </button>
      <span data-target="users-task.error"></span>
    </li>
  <% end %>
</ul>

<%= link_to "Add Task", new_house_task_path(@presenter.house_id) %>
