<!DOCTYPE html>
<html>
  <head>
    <title>ChoNuff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <div <%= {:class => "Flash Flash--#{name}", :role => "alert"} %>>
        <button <%= {"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"} %>>
          <span <%= {"aria-hidden" => "true"} %>> ×</span>
        </button>

        <span>
          Message: <%= sanitize(msg, tags: %w(a), attributes: %w(href rel data-method)) %>
        </span>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
